<div class="container bg-white">
  <div class="row">

    <div class="col-md-9 mt-3">
    </div>

    <div class="col-md-3 mt-5 text-center">
      <div class="bg-light">
        <h4 class="pt-2 pb-2">Últimas postagens</h4>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
          <li ngbNavItem="home">
            <a ngbNavLink routerLink="/home">Home</a>
          </li>
          <li ngbNavItem="java">
            <a ngbNavLink routerLink="/java">Java</a>
          </li>
          <li ngbNavItem="sobre-mim">
            <a ngbNavLink routerLink="/sobre-mim">Sobre mim</a>
          </li>
        </ul>
      </div>
        <div [ngbNavOutlet]="nav" class="ml-4"></div>
    </div>

  </div>
</div>
