<div *ngFor="let linha of linhas">
  <div class="row">
    <div *ngFor="let coluna of linha">
      <div class="col-lg-4">
        <div class="card" style="width: 18rem; height: 13rem;">
          <div class="card-body">
            <h5 class="card-title">{{ coluna.titulo }}</h5>
            <p class="card-text">{{ coluna.descricao }}</p>
          </div>
          <div class="card-footer">
            <a [href]="coluna.url" target="_blank" class="btn btn-primary">Ver repositório</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

