<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Um guia de programação</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"  [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" (click)="isCollapsed = !isCollapsed">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/java" (click)="isCollapsed = !isCollapsed">Java <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/angular" (click)="isCollapsed = !isCollapsed">Angular <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/git-github" (click)="isCollapsed = !isCollapsed">Git & GitHub <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/sobre-mim" (click)="isCollapsed = !isCollapsed">Sobre mim <span class="sr-only">(current)</span></a>
      </div>

      <div class="navbar-nav ml-auto">
        <ul class="list-group list-group-horizontal social-media">
          <li class="list-group-item no-background p-0 mr-4">
            <a class="nav-item nav-link p-0 " href="https://www.instagram.com/leandroleitec/" target="_blank" placement="bottom" ngbTooltip="Instagram">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </li>
          <li class="list-group-item no-background p-0 mr-4">
            <a class="nav-item nav-link p-0" href="https://github.com/LeandroLeiteC" target="_blank" placement="bottom" ngbTooltip="GitHub">
              <i class="fab fa-github fa-2x"></i>
            </a>
          </li>
          <li class="list-group-item no-background p-0">
            <a class="nav-item nav-link p-0" href="https://www.linkedin.com/in/leandro-leite-costa-972412183/" target="_blank" placement="bottom" ngbTooltip="LinkedIn">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
