<div class="container pt-4">

  <div class="row">
    <div class="col-12">
      <h1 class="title">Guia de <span class="font-italic">Programação.</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 class="font-italic text-muted subtitle">Um guia básico para iniciantes</h3>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Minha missão:</h1>
      <p class="lead">Com minha determinação de repassar todo o conhecimento por mim aprendido. Estou criando está página para organizar os pequenos guias e tutoriais que irei produzir para aqueles que estão começando neste mundo da programação Java & Angular.</p>
    </div>
  </div>

  <div class="row mt-4 justify-content-around">

    <div class="col-md-4 text-center">
      <button (click)="javaRedirect()" class="btn">
        <div class="card bg-light" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Guia de Java</h5>
          </div>
        </div>
      </button>
    </div>

    <div class="col-md-4 text-center">
      <button (click)="angularRedirect()" class="btn">
        <div class="card bg-light" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Guia de Angular</h5>
          </div>
        </div>
      </button>
    </div>

    <div class="col-md-4 text-center">
      <button (click)="gitRedirect()" class="btn">
        <div class="card bg-light" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Guia de Git & GitHub</h5>
          </div>
        </div>
      </button>
    </div>
  </div>

</div>
