.social-link {
  color: black;
}

.social-link:hover {
  color: blue;
}

.content {
  background-color: rgba(233,233,233,0.2)
}

.nome {
  font-family: Castellar;
  font-size: 3rem;
}

.no-background {
  background: none;
  border: none;
}
