.social-link {
  color: black;
}

.social-link:hover {
  color: blue;
}

.nome {
  font-family: Castellar;
  font-size: 3rem;
}

.no-background {
  background: none;
  border: none;
}

@media (max-width:767px){
  .nome {
    text-align:center;
  }

}
