<div class="container pt-4">
  <div class="row">
    <div class="col-lg-2 col-md-4">
      <img class="rounded-circle img-thumbnail" src="assets/img/leandroleite.jpg" >
    </div>
    <div class="col-lg-10 col-md-8 text-left align-self-center">
      <h1 class="nome">Leandro Leite Costa</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-md-12">
      <p class="text-justify">
        Olá, meu nome é Leandro. Sou estudante de Engenharia Eletrônica, apaixonado por matemática, física, programação! <br/>
        Estou criando está página em meu github para que aqueles que estão começando a programar em Java e Angular possam ter um guia pare essa longa jornada que iniciam. <br/>
        Atualmente sou estagiário Full Stack de Java e Angular iniciando meu estudos nestas tecnologias em 2020.
      </p>
      <div class="pt-3">
          <div class="row justify-content-center">
            <h5>Minhas redes sociais:</h5>
          </div>
          <div class="row justify-content-center">
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item no-background">
                <a class="nav-item social-link btn" href="https://www.instagram.com/leandroleitec/" target="_blank" placement="top" ngbTooltip="Instagram">
                  <i class="fab fa-instagram fa-2x"></i>
                </a>
              </li>
              <li class="list-group-item no-background">
                <a class="nav-item social-link btn" href="https://github.com/LeandroLeiteC" target="_blank" placement="top" ngbTooltip="GitHub">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </li>
              <li class="list-group-item no-background" >
                <a class="nav-item social-link btn" href="https://www.linkedin.com/in/leandro-leite-costa-972412183/" target="top" ngbTooltip="LinkedIn">
                  <i class="fab fa-linkedin fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>

