<div class="container pt-4">
  <div class="row">
    <div class="col-lg-2 col-md-4">
      <img class="rounded-circle img-thumbnail" src="assets/img/leandroleite.jpg" >
    </div>
    <div class="col-lg-10 col-md-8 text-left align-self-center">
      <h1 class="nome">Leandro Leite Costa</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-md-12">
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam risus nunc, auctor et varius vel, ultricies at turpis. Vestibulum fermentum ut magna ac luctus. Maecenas turpis turpis, interdum et ex et, placerat porttitor dolor. Aliquam accumsan fringilla est a mollis. Suspendisse massa mauris, commodo in maximus molestie, mollis ac enim. Nunc a augue ac turpis euismod sollicitudin. Proin malesuada nibh id aliquam vestibulum. Sed luctus justo turpis, ac ultrices turpis rhoncus ut. Pellentesque fringilla augue in velit porta, eu pellentesque dui ultricies. Duis convallis urna vel nisl hendrerit, at posuere dolor facilisis. Mauris at condimentum purus. Proin nec iaculis elit.
        Vivamus pellentesque lobortis nunc eu iaculis. Ut pharetra nisi ante, vulputate imperdiet enim lacinia sit amet. Quisque dignissim facilisis arcu et tincidunt. Fusce id sapien nunc. Mauris dapibus magna orci, eu facilisis ligula lobortis ac. Duis pulvinar bibendum eros malesuada gravida. Duis iaculis quam a urna laoreet, ac porttitor sapien eleifend. Nulla facilisi. Morbi feugiat, arcu non blandit molestie, mauris urna rhoncus leo, nec dictum lorem purus a est. Integer quis mauris quis lectus dignissim cursus eget at augue. Sed quis diam justo. Morbi eu hendrerit turpis, ut imperdiet nibh. Nulla porta placerat nisl, vitae varius neque. Sed felis urna, consequat quis accumsan vitae, facilisis eu lorem. Sed fringilla, urna vitae consequat posuere, felis lacus dictum est, pellentesque congue augue orci eu mauris. Integer aliquam felis ut eros varius pharetra.
      </p>
      <div class="pt-3">
          <div class="row justify-content-center">
            <h5>Minhas redes sociais:</h5>
          </div>
          <div class="row justify-content-center">
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item no-background">
                <a class="nav-item social-link btn" href="https://www.instagram.com/leandroleitec/" target="_blank" placement="top" ngbTooltip="Instagram">
                  <i class="fab fa-instagram fa-2x"></i>
                </a>
              </li>
              <li class="list-group-item no-background">
                <a class="nav-item social-link btn" href="https://github.com/LeandroLeiteC" target="_blank" placement="top" ngbTooltip="GitHub">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </li>
              <li class="list-group-item no-background" >
                <a class="nav-item social-link btn" href="https://www.linkedin.com/in/leandro-leite-costa-972412183/" target="top" ngbTooltip="LinkedIn">
                  <i class="fab fa-linkedin fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>

