<div class="container pt-4">
  <div class="row">
    <div class="col-10">
      <app-title subtitle="Java"></app-title>
    </div>
    <div class="col-2 align-self-end">
      <button class="btn btn-primary" (click)="modoExibicao()" >
        {{ card ? 'Exibição: Card' : 'Exibição: Lista' }}
      </button>
    </div>
  </div>
    <hr/>
    <div class="mt-4">
        <div *ngIf="card; else lista">
            <app-card-guias [guias]='guias'></app-card-guias>
        </div>
    </div>
</div>

<ng-template #lista>
  <ul>
    <li *ngFor="let guia of guias">
      <a class="nav-item nav-linka" [href]="guia.url" target="_blank" placement="right" [ngbTooltip]="guia.descricao">{{ guia.titulo }}</a>
    </li>
  </ul>
</ng-template>
